body{
	margin: 0 auto;
	padding: 0;
	width: 1280px;
}
.header, .body{
	width: 100%;
	
	font-family: Arial;
}
.header{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: #1B5589;
	margin: 0;
	padding: 0;
	padding-right: 30px;
	padding-left: 30px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	display: inline-block;
	width: 100px;
	color: #fff;
	font-size: 17px;
	text-align: center;
	margin: 0;
	margin-left: -2px;
	padding: 15px;
}
.foto{
	margin-right:60px;
}
.body{
	text-align: center;
	margin: 0;
	padding: 0;
}
span{
	font-size: 28px;
}
.item1, .item2{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	margin: 30px;
}
.item1{
	background-color: #CCE5FF;
	border: 1px solid #CCE5FF;
	border-radius: 7px;
	
}
.item2{

}
.left, .center, .right{
	text-transform: uppercase;
	text-align: center;
	color: #1B5589;
	font-size: 18px;
	padding: 7px;
}
.left, .avatar{
	flex-basis: 20%;
}
.center, .right, .info, .password{
	flex-basis: 38%;
} 
.item2{
	
}
button{
	color: #fff;
	font-size: 17px;
	text-align: center;
	background-color: #6C757D;
	border: 1px solid #6C757D;
	border-radius: 7px;
	padding: 10px;
}
.avatar button{
	width: 256px;
}